.questioneditor {
  > .toolbar-wrapper {
  }

  > .content-wrapper {
    > .questionitem {
      display: flex;
      gap: 8px;

      > .questionitem__label {
      }

      > .questionitem__value {
        flex: 1 1 0px;
      }
    }
  }
}
