.questioneditor {
  > .questionitem {
    display: flex;
    gap: 8px;

    > .questionitem__label {
    }

    > .questionitem__value {
    }
  }
}

.questioneditor—wrapper {
  border: 1px solid #ccc;

  > .toolbar-container {
    border-bottom: 1px solid #ccc;
  }
  > .editor-container {
    height: 500px;
  }
}
